<div style="text-align: center;">
<h1>Club esprit </h1>
</div>
<div style="text-align: center;">
<img
          src="{{ asset('Logo_ESPRIT.jpg') }}" alt="Image not found">
</div>
<div style="text-align: center;">
    <p style="font-size:15px;">

we want to get out of this university pls let me freeeeeeeeeeeeee!!!!!!!!!!
    </p>
</div>

